# Editing commands in graphical GRUB is terribly slow on Thinkpad,
# especially at native resolution. It also breaks initrd display on qemu.
# By default, users have no reason to use the menu anyway.
GRUB_TIMEOUT=0.1
GRUB_TERMINAL=console
# Tell grub not to add subvol rootflag. Most of the time, it does not matter
# and maybe this is something grub should stop doing because it's redundant
# with default subvolumes - well, as long as the trick works...
# This is actually only required for the NotePOD installer: grub would pass
# the wrong flag to it and in order to keep things simple enough we can't
# override this inside the initrd without breaking it for the 2 kexec phases.
unset GRUB_FS
