exec {{ bouture_opt }}/slapos.core/slapos/slapy {{ bouture_opt }}/slapos.core/slapos/bouture.py failover \
  --original-cfg /etc/opt/slapos/slapos.cfg \
  --new-cfg {{ bouture_etc }}/slapos.cfg \
  --new-master-url https://[{{ slapproxy_ipv6.stdout }}]:4000 \
  --new-monitor-url https://[{{ slapproxy_ipv6.stdout }}]:4001/#page=ojsm_landing \
  --pidfile {{ bouture_run }}/bouture.pid \
  --switchfile {{ bouture_run }}/bouture.switch
